.redeem_code_input_wrap {
  padding: 16px 24px;
  border-radius: 4px;
  background: #f7f9fb;
}
.redeem_code_tip {
  font-size: 13px;
  text-align: center;
  color: var(--font-color-second);
  font-weight: 400;
}

.redeem_code_input {
  display: flex;
  justify-content: center;
}
.redeem_code_item {
  -webkit-appearance: none;
  width: 24px;
  height: 25px;
  line-height: 24px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #a1adc5;
  outline: none;
  margin-right: 4px;
  text-align: center;
}
.redeem_code_item:nth-child(4n) {
  margin-right: 24px;
}

.redeem_code_item:last-child {
  margin-right: 0;
}

.exchange_redeem_code {
  -webkit-appearance: none;
  width: 160px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  margin: 24px auto 0;
  background: #4684e2;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
}
